paper.aux
paper.blg
paper.out
code/CanonicalCompute/CanonicalCompute.opensdf
code/CanonicalCompute/CanonicalCompute.sdf
code/CanonicalCompute/x64/Release/CL.read.1.tlog
code/CanonicalCompute/x64/Release/CL.write.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.lastbuildstate
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CL.read.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CL.write.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CanonicalCompute.lastbuildstate
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CanonicalCompute.write.1u.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/cl.command.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/link.command.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/link.read.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/link.write.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.write.1.tlog
code/CanonicalCompute/x64/Release/cl.command.1.tlog
code/CanonicalCompute/x64/Release/link-cvtres.read.1.tlog
code/CanonicalCompute/x64/Release/link-cvtres.write.1.tlog
code/CanonicalCompute/x64/Release/link-rc.read.1.tlog
code/CanonicalCompute/x64/Release/link-rc.write.1.tlog
code/CanonicalCompute/x64/Release/link.command.1.tlog
code/CanonicalCompute/x64/Release/link.read.1.tlog
code/CanonicalCompute/x64/Release/link.write.1.tlog
code/CanonicalCompute/x64/Debug/CL.read.1.tlog
code/CanonicalCompute/x64/Debug/CL.write.1.tlog
code/CanonicalCompute/x64/Debug/CanonicalCompute.lastbuildstate
code/CanonicalCompute/x64/Debug/CanonicalCompute.write.1.tlog
code/CanonicalCompute/x64/Debug/cl.command.1.tlog
code/CanonicalCompute/x64/Debug/link-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.command.1.tlog
code/CanonicalCompute/x64/Debug/link.read.1.tlog
code/CanonicalCompute/x64/Debug/link.write.1.tlog
code/CanonicalCompute/x64/Release/link.read.2.tlog
*.tlog
paper.synctex.gz
code/CanonicalCompute/Debug/CanonicalCompute.lastbuildstate
code/SparseCompute/x64/Debug/vc120.idb
code/SparseCompute/x64/Release/run.cmd
code/SparseCompute/x64/Release/sparsePerf.py
code/SparseCompute/x64/Release/test.txt
code/SparseCompute/x64/Release/uptonpark_results.txt
code/SparseCompute/x64/Release/xcg_results.txt
code/CanonicalCompute/Debug/CanonicalCompute.unsuccessfulbuild
Gnuplot/test.txt
isca2016/Gnuplot/test.txt
isca2016/paper.bbl
