code/CanonicalCompute/x64/Debug/link.11156.write.1.tlog
code/CanonicalCompute/x64/Debug/link.11952-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.11952-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.11952-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.11952-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.11952.read.1.tlog
code/CanonicalCompute/x64/Debug/link.11952.write.1.tlog
code/CanonicalCompute/x64/Debug/link.15508-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.15508-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.15508-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.15508-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.15508.read.1.tlog
code/CanonicalCompute/x64/Debug/link.15508.write.1.tlog
code/CanonicalCompute/x64/Debug/link.2240-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.2240-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.2240-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.2240-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.2240.read.1.tlog
code/CanonicalCompute/x64/Debug/link.2240.write.1.tlog
code/CanonicalCompute/x64/Debug/link.3328-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.3328-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.3328-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.3328-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.3328.read.1.tlog
code/CanonicalCompute/x64/Debug/link.3328.write.1.tlog
code/CanonicalCompute/x64/Debug/link.5556-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.5556-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.5556-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.5556-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.5556.read.1.tlog
code/CanonicalCompute/x64/Debug/link.5556.write.1.tlog
code/CanonicalCompute/x64/Debug/link.7024-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.7024-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.read.1.tlog
asplos2016-nosubmit/Figures/~$Figures.pptx
code/CanonicalCompute/CanonicalCompute.sdf
code/CanonicalCompute/x64/Debug/CL.read.1.tlog
code/CanonicalCompute/x64/Debug/CL.write.1.tlog
code/CanonicalCompute/x64/Debug/CanonicalCompute.lastbuildstate
code/CanonicalCompute/x64/Debug/CanonicalCompute.write.1.tlog
code/CanonicalCompute/x64/Debug/cl.command.1.tlog
code/CanonicalCompute/x64/Debug/link-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.10108-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.10108-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.10108-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.10108-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.10108.read.1.tlog
code/CanonicalCompute/x64/Debug/link.10108.write.1.tlog
code/CanonicalCompute/x64/Debug/link.11156-cvtres.read.1.tlog
code/CanonicalCompute/x64/Debug/link.11156-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.11156-rc.read.1.tlog
code/CanonicalCompute/x64/Debug/link.11156-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.11156.read.1.tlog
code/CanonicalCompute/x64/Debug/link.7024-cvtres.write.1.tlog
code/CanonicalCompute/x64/Debug/link.7024-rc.write.1.tlog
code/CanonicalCompute/x64/Debug/link.7024.read.1.tlog
code/CanonicalCompute/x64/Debug/link.7024.write.1.tlog
code/CanonicalCompute/x64/Debug/link.command.1.tlog
code/CanonicalCompute/x64/Debug/link.write.1.tlog
code/CanonicalCompute/x64/Release/CL.read.1.tlog
code/CanonicalCompute/x64/Release/CL.write.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.lastbuildstate
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CL.read.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CL.write.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CanonicalCompute.lastbuildstate
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/CanonicalCompute.write.1u.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/cl.command.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/link.command.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/link.read.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.tlog/link.write.1.tlog
code/CanonicalCompute/x64/Release/CanonicalCompute.write.1.tlog
code/CanonicalCompute/x64/Release/cl.command.1.tlog
code/CanonicalCompute/x64/Release/link-cvtres.read.1.tlog
code/CanonicalCompute/x64/Release/link-cvtres.write.1.tlog
code/CanonicalCompute/x64/Release/link-rc.read.1.tlog
code/CanonicalCompute/x64/Release/link-rc.write.1.tlog
code/CanonicalCompute/x64/Release/link.command.1.tlog
code/CanonicalCompute/x64/Release/link.read.1.tlog
code/CanonicalCompute/x64/Release/link.read.2.tlog
code/CanonicalCompute/x64/Release/link.write.1.tlog
isca2016/Gnuplot/test.txt
isca2016/paper.aux
isca2016/paper.bbl
isca2016/paper.blg
isca2016/paper.out
isca2016/paper.synctex.gz
code/SparseCompute/x64/Debug/SparseCompute.tlog/CL.read.1.tlog
code/SparseCompute/x64/Debug/SparseCompute.tlog/CL.write.1.tlog
code/SparseCompute/x64/Debug/SparseCompute.tlog/SparseCompute.lastbuildstate
code/SparseCompute/x64/Debug/SparseCompute.tlog/SparseCompute.write.1u.tlog
code/SparseCompute/x64/Debug/SparseCompute.tlog/cl.command.1.tlog
code/SparseCompute/x64/Debug/SparseCompute.tlog/link.command.1.tlog
code/SparseCompute/x64/Debug/SparseCompute.tlog/link.read.1.tlog
code/SparseCompute/x64/Debug/SparseCompute.tlog/link.write.1.tlog
code/SparseCompute/x64/Debug/vc120.idb
code/SparseCompute/x64/Release/SparseCompute.tlog/CL.read.1.tlog
code/SparseCompute/x64/Release/SparseCompute.tlog/CL.write.1.tlog
code/SparseCompute/x64/Release/SparseCompute.tlog/SparseCompute.lastbuildstate
code/SparseCompute/x64/Release/SparseCompute.tlog/SparseCompute.write.1u.tlog
code/SparseCompute/x64/Release/SparseCompute.tlog/cl.command.1.tlog
code/SparseCompute/x64/Release/SparseCompute.tlog/link.command.1.tlog
code/SparseCompute/x64/Release/SparseCompute.tlog/link.read.1.tlog
code/SparseCompute/x64/Release/SparseCompute.tlog/link.write.1.tlog
code/SparseCompute/SparseCompute.opensdf
code/SparseCompute/SparseCompute.sdf
code/SparseCompute/Release/SparseCompute.tlog/CL.read.1.tlog
code/SparseCompute/Release/SparseCompute.tlog/CL.write.1.tlog
code/SparseCompute/Release/SparseCompute.tlog/SparseCompute.lastbuildstate
code/SparseCompute/Release/SparseCompute.tlog/cl.command.1.tlog
code/SparseCompute/Release/SparseCompute.tlog/link.command.1.tlog
code/SparseCompute/Release/SparseCompute.tlog/link.read.1.tlog
code/SparseCompute/Release/SparseCompute.tlog/link.write.1.tlog
code/SparseCompute/x64/Release/run.cmd
code/CanonicalCompute/Debug/CanonicalCompute.lastbuildstate
code/CanonicalCompute/Debug/CanonicalCompute.unsuccessfulbuild
code/CanonicalCompute/Debug/CanonicalCompute.write.1.tlog
code/Experiments/
code/SparseCompute/x64/
code/SparseCompute/pingme.txt
code/scripts/xcg_results_T1.txt.txt
